#mapid {
    display: block;
    height: 550px;
    width: 98%;
}

main {
    display: flex;
}

main .left{
    width: 65%;
}

main .right {
    margin-left: 20px;
    width: 35%;
}

.homes-box{
    display: grid;
    grid-template-columns: auto ;
    justify-content: left;
    align-items: flex-start;
    float: left;
    width: 100%;
    overflow: hidden;
    padding-left: 2px;
}

.right .filter-box .homes-box {
    width: 100%;
    padding: 20px;
    list-style: none;
}

footer {
    display: flex;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #264653;
}

footer div {
    width: 33%;
    height: 20px;
}

.filter-box label{
    width: 100px;
    line-height: 1.8em;
}

.filter-form {
    display: block; 
    width: 200px;
    float:none;
}

.form-control{
    display: flex;
    line-height: 50px;
    align-items: center;
 
}

.form-control label{
    display: flex;
    align-items: baseline;
    letter-spacing: 0.20em;
}

.huizen{
    background-color: #2A9D8F;
}

.menu{
    display: flex;
    background-color: #2A9D8F;
    width: 100%;
    height: 100px;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
}

.driehoek{
    display: flex;
    height: 100px;
    width: 200px;
    background-color: #E9C46A;
    justify-items: right;   
    transform: rotate(60deg);   
    box-shadow: #264653 10px 10px;
}

.book{
    display: block;
    align-items: center;
    width: 400px;
}

label{
    display: flex;
    float: left;
    width: 10em;
    margin-right: 2em;
}

img{
    justify-content: center;
}

p{
    display: flex;
    justify-content: first baseline;
    align-items:flex-start;
}

.schuinelijn{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #2A9D8F;
    justify-content: right;
    float: right;
    margin-top: -5%;
    margin-right: -40%;
    transform: rotate(140deg);
    box-shadow: #264653 10px 10px;
}

.kenmerken{
    overflow: hidden;
}

.naam{
    color: #F4A261;
    font-size: 60px;
    text-shadow: #264653 2px 2px;
    -webkit-text-stroke: 1px #264653;
}